$basic_font_size__l: 22px;
$basic_font_size: 18px;
$basic_font_size__s: 16px;
$basic_font_size__xs: 14px;
$basic_font_size__xxs: 12px;
$basic_font_size__xxxs: 10px;

$primaryColor: rgb(237,233,221);

$secondaryColor1: rgb(246,174,149);
$secondaryColor2: rgb(246,174,149);

$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;

$primary_font: 'Space Mono', monospace;


@mixin em($key,$fontsize) {
    #{$key}: #{$fontsize/$basic_font_size}rem;
}

@function _em($fontsize) {
    @return #{$fontsize/$basic_font_size}rem;
}

@mixin std_fontconfig($font_size) {
    font-size: _em($font_size);
    line-height: _em($font_size*1.36666666666667);
}

@mixin google_icon() {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: _em(24px);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@mixin media_smartphone() {
    @media (min-width: 576px), (max-width: 576px) { // 576px, 576px
        @content;
    }
}

@mixin media_tablet() {
    @media (min-width: 768px) { // 768px
        @content;
    }
}

@mixin media_small_desktop() {
    @media (min-width: 960px) { // 992px
        @content;
    }
}

$selectionColor: #ccc;
